<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- All file access permissions available without root -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />

    <application
        android:name=".TrierarchApplication"
        android:appCategory="game"
        android:allowBackup="true"
        android:allowAudioPlaybackCapture="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trierarch">
        <activity
            android:name="com.termux.x11.LoriePreferences"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <service
            android:name="com.termux.x11.X11ServerService"
            android:process=":x11"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <activity
            android:name="com.termux.x11.MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|density|keyboardHidden|keyboard|navigation|uiMode|fontScale|layoutDirection"
            android:label="@string/x11_display_activity_label"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.winlator.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|density|navigation"
            android:exported="false"
            android:theme="@style/AppThemeDark" />

        <activity
            android:name="com.winlator.XServerDisplayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|density|navigation"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppThemeFullscreenDark" />

        <activity
            android:name="com.winlator.ControlsEditorActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|density|navigation"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppThemeFullscreenDark" />

        <activity
            android:name="com.winlator.ExternalControllerBindingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|density|keyboardHidden"
            android:exported="false"
            android:theme="@style/AppThemeDark" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="app.trierarch.winlator.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|density|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="app.trierarch.action.OPEN_TERMINAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>